{%set menu = 'voiture' %}

{% extends "src/GestionReservationAuto/Resources/views/layout.html.twig" %}

    

{% block content %}
    <h3>Modifier une voiture</h3>
    <form action="{{ path('gestion-reservation-auto-voiture-update', { 'id': idVoiture }) }}" method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        {% include 'src/GestionReservationAuto/Resources/views/voiture/fragments/form.html.twig' %}
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <input type="submit" name="submit" value="Valider" class="btn btn-default" />
                    <a href="{{ path('gestion-reservation-auto-voiture') }}"class="btn btn-danger">Annuler</a>
                </div>
            </div>
        </div>
    </form>
{% endblock %}{# empty Twig template #}
{# empty Twig template #}
