{%set menu = 'homepage' %}

{% extends "src/GestionReservationAuto/Resources/views/layout.html.twig" %}



{% block content %}
    <h3>Accueil</h3>
    <p> Cette application à pour objectifs de permettre aux utilisateurs:<br/>
    <ul>
        <li>De réserver des véhicules présents dans un pool.</li>
        <li>De consulter le planning des véhicules du pool.</li>
        <li>De créer des bons de remisage à domicile.</li>
        <li>De créer des registres qui montrent les réservations sur une période donnée pour un agent.</li>
    </ul>
    </p>
{#
                         .--··´¯¯¯¨`·-., 
            .---··· ´¨¨¨                      `·. 
       .·´                                        ', 
    ,'                                               ', 
   ¦             /|        |        /                  | 
    ',     (     \\:\  |   /|      /''\     .|          | 
      '·.  \|\ \.,'.|::\|\/ |¸,.-·´¨¨`·/.·´  |           | 
         ` ·-\\|'/|¨`,     `|¨|¨`·¸      |   |´¯`,    | 
           ,'/||', \:'| ,     |_\::':/      |    |,  ,'     | 
         ,'//|  ',¯¯·',                    |    | ¯        | 
        ,'/  |  | ` ·.  --·´               |     |           | 
        |´  |   |   _ ` ·.__ .·´        |      |/_        | 
        |   |   |¨¯  ¯¯///,··\     ,.--·|      |  ',¯¨¨``' 
        |.·´|   |--,··´¯//\ \ \    //  #} 
{% endblock %}